.cache
.classpath
.project
.scala_dependencies
.settings
target
.target

lift/src/main/webapp/static/coffee/*.js
lift/src/main/webapp/static/less/*.css

lift/logs/lift/*.log
lift/logs/nginx/*.log

project/boot
project/project
project/strap/sbt-launch-*.jar


*.pyc
